<header>
    <!--param title is accessed from the hbs params in app.js and this substitution is done by hbs in the server side
Let's say I need to retrieve a list of a user's favorite posts and display it on the /posts. With Express hbs,
I can perform a database query right then and there, then in the routes file, pass in the query via:

res.render('index', { favoritePosts: databaseQuery });
and then in the hbs templates file:
{{databaseQuery}}  the favorite posts
React is all on the front end though, so wouldn't it be difficult for it to query the database?

but using REACT, You can make json endpoints for instance. Before you'd return a HTML blob, now you return JSON, and REACT will read JSON on client

-->
    <h1>{{title}}</h1>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>